<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="paging">
	
	<sql id="pagingPreFix">
		SELECT SQL_CALC_FOUND_ROWS *
		FROM	(SELECT @RNUM := @RNUM + 1 ROWNUMBER, MAINSQL.* FROM (
	</sql>
	
	<sql id="pagingPostFix">
		) MAINSQL, (SELECT @RNUM := 0) R) A
		LIMIT	#{pagePerRows}
	</sql>
	
	
	<select id="getPagingTotalCnt" resultType="Integer">
		SELECT FOUNT_ROWS()
	</select>
	
	
	
</mapper>